        @@include("../../blocks/modules/header/header.html")
        <h1 class="about about__title">
            Давайте знакомиться!
        </h1>
        <div class="about__wrapper">
            <div class="about__item-wrapper">
                <div class="about__item">
                    <h3 class="about__item-title">
                        Наш метод
                    </h3>
                    <p class="about__text">
                        Бережно собираем руками любую полиграфическую продукцию и упаковываем ее
                    </p>
                </div>
                <div class="about__item">
                    <h3 class="about__item-title">
                        Быстро
                    </h3>
                    <p class="about__text">
                        Устраиваем налаженный конвейер по сборке и успеваем с любыми сроками
                    </p>
                </div>
            </div>

            <img src="/img/picker.png" class="picker" alt="Picker">
            <p class="picker__dialog">
                Привет! Меня зовут Пикер, а это мой друг Пакер!
            </p>
            <p class="packer__dialog">
                Наше любимое
                дело - это собирать
                и упаковывать!
            </p>
            <img src="/img/packer.png" class="packer" alt="Packer">

            <div class="about__item-wrapper">
                <div class="about__item">
                    <h3 class="about__item-title">
                        Какой тираж?
                    </h3>
                    <p class="about__text">
                        Работаем с любыми тиражами большими и маленькими
                    </p>
                </div>
                <div class="about__item">
                    <h3 class="about__item-title">
                        Если мы не в городе?
                    </h3>
                    <p class="about__text">
                        Помогаем со сборкой на выездных мероприятиях
                    </p>
                </div>
            </div>
        </div>
    </header>
    <section class="about2">
        <h2 class="about2__title">
            Что мы делаем?
        </h2>
        <img src="/img/bouth.png" alt="Picker & Packer" class="about2__persons">
        <img src="/img/bouth2.png" alt="Picker & Packer" class="about2__persons bouth__persons">
        <p class="about2__article-left">
            Вы как раз застали нас за работой. Мы фасуем и упаковываем продукцию! Смотрите как быстро и нежно!
        </p>
        <p class="about2__article-right">
            Упковывать можем все, что вам придет в голову: от косметики и сувениров, до конфеток и шоколадок!
        </p>
    </section>
    <section class="how-works container media-container">
        <h2 class="how-works__title">
            Как это работает?
        </h2>
        <div class="profit">
            <div class="profit__item">
                <img src="/img/profit1.png" alt="Profit-1" class="profit__logo">
                <h3 class="profit__title">Место</h3>
                <p class="profit__text">
                    Мы договариваемся с вами об объеме, времени и месте проведения работ.
                </p>
            </div>
            <img class="arrow2" src="/img/arrow2.png" alt="">
            <div class="profit__item">
                <img src="/img/profit2.png" alt="Profit-1" class="profit__logo">
                <h3 class="profit__title">Подготовка</h3>
                <p class="profit__text">
                    Если работы будут проводиться на вашей территории, мы подготовим необходимое пространство
                </p>
            </div>
            <img class="arrow2" src="/img/arrow2.png" alt="">
            <div class="profit__item">
                <img src="/img/profit3.png" alt="Profit-1" class="profit__logo">
                <h3 class="profit__title">Работа</h3>
                <p class="profit__text">
                    Мы подстроимся под ваш график и заранее согласуем необходимое время для проведения работ
                </p>
            </div>
            <img class="arrow2" src="/img/arrow2.png" alt="">
            <div class="profit__item">
                <img src="/img/profit4.png" alt="Profit-1" class="profit__logo">
                <h3 class="profit__title">Результат</h3>
                <p class="profit__text">
                    Мы получаем оплату, только по результату проделанных работ. Вы сможете проверить результат перед
                    оплатой!
                </p>
            </div>
        </div>
    </section>
    <section class="feedback" id="feedback">

        <h2 class="feedback__title">
            Хотите узнать стоимость? Свяжитесь с нами
        </h2>
        <div class="feedback__wrapper container">
            <div class="form__wrapper">
                <form class="contact_form" action="contact-form.php" method="post">
                    <input name="name" id="name" type="text" placeholder="Имя" class="order__input" required>
                    <input name="tel" type="tel" placeholder="+7-(___)___-__-__" class="order__input" required><br>
                    <button type="submit" class="order__btn act">Связаться</button>
                </form>
            </div>
        </div>
    </section>
    <section class="office">
        <h2 class="office__title">
            Мы можем работать у вас!
        </h2>
        <img src="/img/office.png" alt="Office" class="person__office">
        <p class="office__text">
            Мы приезжаем в офисы и организовываем “мобильную сборку” на месте!
            Либо, можем забрать вашу продукцию и упаковать у себя, а потом привезти в готовом виде.
        </p>
        <p class="office__text-900">
            Мы приезжаем в офисы и организовываем “мобильную сборку” на месте! Либо сделаем на своей площадке.
        </p>
        <p class="office__text-650">
            Мы приезжаем в офисы и организовываем “мобильную сборку” на месте!
        </p>
        <p class="office__text-450">
            Мобильная Сборка!
        </p>
    </section>
    <section class="party">
        <h2 class="party__title">
            Работаем на выезде
        </h2>
        <img src="/img/party.png" alt="Party" class="person__party">
        <p class="party__text">
            Обожаем работать на выездных мероприятиях
            особенно на природе!
            Мы можем стать вашими помощниками
            и облегчить всю работу!
        </p>
        <p class="party__text-900">
            Обожаем работать на выездных мероприятиях
            особенно на природе!
        </p>
        <p class="party__text-600">
            Работаем на выезде!
        </p>
    </section>
        @@include("../../blocks/modules/footer/footer.html")
       