        @@include("../../blocks/modules/header/header.html")
        <h1 class="main__title">
            Аудит рекламных материалов
        </h1>
       
<div class="audit__wrapper">
    <p class="audit__text">
        Вам необходимо проверить наличие / корректное размещение рекламных или POSm материалов?
    </p>
    <p class="audit__text">
        Мы готовы!
    </p>
    <p class="audit__text">
        Составим адресную программу, проверим наличие материалов, по необходимости проведем инструктаж на месте размещения
        материалов.
    </p>
    <p class="audit__text">
        Предоставим фото/видео отчет, предоставим консолидированный результат проверки в экселе или в удобной для вас форме.
    </p>
</div>
    </header>

    <section class="audit__img">
        <img src="/img/bouth.png" alt="Picker & Packer" class="about2__persons">
    </section>
        @@include("../../blocks/modules/footer/footer.html")
       