        @@include("../../blocks/modules/header/header-novh.html")
        <div class="container">
            <h1 class="main__title">
                Изготовление календарей
            </h1>
            <p class="portfolio__descriprion">
                Тут пара строк на описание. В общем сколько угодно можно писать, но главное понимать, что это никто не читает. 
                Здесь уже скоро начнется вторая строка, наслаждаемся и пляшем
            </p>
                <div class="portfolio__wrapper">
                    <div class="calendars__item">
                        <img src="/img/portfolio/port1.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Квартальные
                            </p>
                            <a href="#feedback" class="pos__button">
                                Заказать
                            </a>
                        </div>
                    </div>
                    <div class="calendars__item">
                        <img src="/img/portfolio/port2.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Настенные
                            </p>
                            <a href="#feedback" class="pos__button">
                                Заказать
                            </a>
                        </div>
                    </div>
                    <div class="calendars__item">
                        <img src="/img/portfolio/port3.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Настольные
                            </p>
                            <a href="#feedback" class="pos__button">
                                Заказать
                            </a>
                        </div>
                    </div>
                    <div class="calendars__item">
                        <img src="/img/portfolio/port4.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Карманные
                            </p>
                            <a href="#feedback" class="pos__button">
                                Заказать
                            </a>
                        </div>
                    </div>
                </div>
    
        </div>
        

    <section class="feedback feedback__pos" id="feedback">
    
        <h2 class="feedback__title">
            Закажите у нас прямо сейчас!
        </h2>
        <div class="feedback__wrapper container">
            <div class="form__wrapper">
                <form class="contact_form" action="contact-form.php" method="post">
                    <input name="name" id="name" type="text" placeholder="Имя" class="order__input" required>
                    <input name="tel" type="tel" placeholder="+7-(___)___-__-__" class="order__input" required><br>
                    <button type="submit" class="order__btn act">Связаться</button>
                </form>
            </div>
        </div>
    </section>
        @@include("../../blocks/modules/footer/footer.html")
       