        @@include("../../blocks/modules/header/header-novh.html")

        <div class="container">
            <h1 class="main__title">
                Нанесение логотипа
            </h1>
            <p class="portfolio__descriprion">
                Тут пара строк на описание. В общем сколько угодно можно писать, но главное понимать, что это никто не читает. 
                Здесь уже скоро начнется вторая строка, наслаждаемся и пляшем
            </p>
                <div class="portfolio__wrapper">
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port1.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Тампопечать
                            </p>
                        </div>
                    </div>
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port2.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Шелкография
                            </p>
                        </div>
                    </div>
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port3.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Тиснение
                            </p>
                        </div>
                    </div>
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port4.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Деколь
                            </p>
                        </div>
                    </div>
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port5.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Гравировка
                            </p>
                        </div>
                    </div>
                    <div class="portfolio__item">
                        <img src="/img/portfolio/port1.jpg" alt="" class="portfolio__img">
                        <div class="portfolio__content">
                            <p class="logotipe__title">
                                Вышивка
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
        @@include("../../blocks/modules/footer/footer.html")
       