        @@include("../../blocks/modules/header/header.html")
        <h1 class="main__title">
            Сборка и комплектация
        </h1>
        <div class="wedo__wrapper">
            <div class="wedo__item">
                <img src="/img/uslugi.jpg" alt="" class="wedo__img">
                <p class="wedo__text">
                    Соберем и скомплектуем любую продукцию заказчика. Комплекс ручных работ любой сложности.
                </p> 
            </div>
            <div class="wedo__item">
                <img src="/img/uslugi.jpg" alt="" class="wedo__img">
                <p class="wedo__text">
                    Подарочные наборы, презентационные наборы, полиграфическую продукцию, POSm материалы, подготовка и распределение по
                    адресной программе с доставкой и без.
                </p>
            </div>
            <div class="wedo__item">
                <img src="/img/uslugi.jpg" alt="" class="wedo__img">
                <p class="wedo__text">
                    Склейка, вклейка и приклейка.
                </p>
            </div>
            <div class="wedo__item">
                <img src="/img/uslugi.jpg" alt="" class="wedo__img">
                <p class="wedo__text">
                    Постпечатная обработка полиграфической продукции, сборка из печатных и расходных материалов заказчика.
                </p>
            </div>
            <div class="wedo__item">
                <img src="/img/uslugi.jpg" alt="" class="wedo__img">
                <p class="wedo__text">
                    Маркировка и фасовка.
                </p>
            </div>
        </div>
        

           

    </header>
<section class="sborka">
    <img src="/img/bouth.png" alt="Picker & Packer" class="about2__persons">
</section>
        @@include("../../blocks/modules/footer/footer.html")
       