@@include("../../blocks/modules/header/header-novh.html")

<div class="container">
    <h1 class="main__title">
        Услуги
    </h1>
    <p class="portfolio__descriprion">
        Тут пара строк на описание. В общем сколько угодно можно писать, но главное понимать, что это никто не читает. 
        Здесь уже скоро начнется вторая строка, наслаждаемся и пляшем
    </p>
        <div class="portfolio__wrapper porfolio__eight">
            <a href="sborka.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Сборка и комплектация
                    </p>
                </div>
            </a>
            <a href="pos.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        POSm Материалы
                    </p>
                </div>
            </a>
            <a href="audit.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Аудит рекламных материалов
                    </p>
                </div>
            </a>
            <a href="logo.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Нанесение логотипа
                    </p>
                </div>
            </a>
            <a href="calendars.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Календари
                    </p>
                </div>
            </a>
            <a href="poligraf.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Полиграфическая продукция
                    </p>
                </div>
            </a>
            <a href="portfolio.html" class="portfolio__item prt__eight">
                <img src="/img/uslugi.jpg" alt="" class="portfolio__img">
                <div class="portfolio__content prt__content">
                    <p class="content__title prt__title">
                        Подарочные наборы
                    </p>
                </div>
            </a>
            
        </div>

</div>
        

        @@include("../../blocks/modules/footer/footer.html")
       